<launch>
    <!-- <arg name="source" default="/capra/camera_3d/rgb/image_raw" doc=""/> -->
    <arg name="dev" default="false" />


    <arg name="source" default="/usb_cam/image_raw" doc="" />
    <node pkg="usb_cam" type="usb_cam_node" name="usb_cam_node" />

    <!-- <arg name="source" default="/capra/image_raw" doc="" /> -->

    <arg name="source_encoding" default="bgr8" doc="" />

    <!-- Capra motion detection node-->
    <node pkg="capra_motion_detection" type="capra_motion_detection" name="capra_motion_detection_node" output="screen">
        <!-- <param name="source" type="string" value="$(arg source)" /> -->
        <param name="source" type="string" value="/usb_cam_node/image_raw" />
        <param name="source_encoding" type="string" value="$(arg source_encoding)" />
    </node>

</launch>
